
nav
{
  margin-top: 10px;
  padding: 20px 10px;
}



button
{
    background-color: rgb(43, 200, 4);
    color: rgb(255, 40, 219);
    text-align: center;
    font-size: 20px;
    padding: 1rem 1.5rem;
    margin-top: 60px;
}

header ul
 {
     list-style-type: none ;
     margin: 0;
     padding: 0;
     overflow: hidden;
     position: fixed;
     top:0 ;
     width:100% ;
 }
 
 header li
 {
     text-align:center ;
     display:inline;
     float: left;
     font-size:1rem ;
    
 }
 
.Dyrebilde
  {
    max-width: 150px;
  }
 
 header li a 
 {
     font-size: 2rem;
     display: block;
     text-align:center;
     text-decoration: none;
     padding: 14px 16px;
     color: #ecd713;
 
 }
 
 main 
 {
     width: 600px;
     height: 400px;
     display: grid;
     margin-top: 5rem;
     gap:5px;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: repeat(3, 1fr);
     grid-template-areas: "";
 }
 
 
 .text-rainbow-animation 
   {
     font-family:arial black;
     background-image: 
       linear-gradient(to right, red,orange,green,yellow,blue,indigo,violet, red); 
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;  
     animation: rainbow-animation 200s linear infinite;
   }
   
  @keyframes rainbow-animation 
 {
       to 
       {
         background-position: 4500vh;
       }
 }
 
 
 body 
 {
     width: 100%;
     border: 0;
     font-family:arial black;
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content:center;
    
 } 
